* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
  height: 1000px;
  color: var(--secondary-color);
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
strong {
  color: var(--color-scheme);

  /* text-shadow: 1px 1px 0 #212121; */
}
h2,
h3 {
  margin-bottom: 10px;
}
article,
li {
  line-height: 35px;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --color-scheme: magenta;
}

.dark-theme {
  --primary-color: rgb(0 0 33);
  --secondary-color: #edf2fc;
  --color-scheme: aqua;
}

/* Styling header */
header {
  background-color: var(--color-scheme);
  color: var(--primary-color);
  display: table-column;
  align-items: center;
  height: 95px;
  position: absolute;
  width: 100%;
  text-shadow: 1px 1px 0 #212121;
}

.bismillah {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  width: 100%;
  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.left {
  font-size: 1.5rem;
  max-width: 49%;
  font-weight: bold;
  color: var(--primary-color);
}
.left p,
.left div {
  color: var(--secondary-color);
}

/* Styling nav bar li items */
.navbar {
  display: flex;
  align-items: center;
}

/* Style the list items */
.navbar-ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

/* Style the links */
.navbar a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

/* Change link color on hover */
.navbar a:hover,
.connect a:hover {
  color: #ff9900;
  font-size: 1.1rem;
  transition: ease-in-out 0.5s;
}

#icon {
  width: 30px;
  cursor: pointer;
}

.main {
  padding-top: 20vh;
}

.one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 460px;
}

.one .left {
  width: 40%;
  font-size: 2.5rem;
  height: 450px;
  text-shadow: 1px 1px 0 #212121;
}

.one .passionate {
  margin-bottom: 20px;
}

.one .right {
  width: 40%;
}

.one .right img {
  width: 120%;
  margin-top: 60px;
  margin-left: -30px;
}
.element {
  color: var(--color-scheme);
}

hr {
  border: 0;
  background: var(--color-scheme);
  height: 1.2px;
  margin: 40px 84px 84px 84px;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.my-skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
}

.connect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  font-size: 50px;
  cursor: pointer;
}
